<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <title>TartuParking</title>
  </head>

  <body>
    
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry,drawing&key=AIzaSyBQek7NQLBPy99BvR8O9Z1SPzCs9OasrSo&v=3"></script>        
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
